
body.native-style {
    display: block;
    margin: 8px;

    color: initial;
    font: initial;
    line-height: initial;
}

.native-style h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.native-style h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.native-style h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.native-style h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.native-style h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.native-style h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.native-style p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.native-style dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.native-style dt {
    display: block;
    unicode-bidi: isolate;
}

.native-style dd {
    display: block;
    margin-inline-start: 40px;
    unicode-bidi: isolate;
}

.native-style a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.native-style a cite {
    font-style: italic;
}

.native-style img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.native-style form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.native-style input {
    font-style: initial;
    font-variant-ligatures: initial;
    font-variant-caps: initial;
    font-variant-numeric: initial;
    font-variant-east-asian: initial;
    font-variant-alternates: initial;
    font-variant-position: initial;
    font-weight: initial;
    font-stretch: initial;
    font-size: initial;
    font-family: initial;
    font-optical-sizing: initial;
    font-size-adjust: initial;
    font-kerning: initial;
    font-feature-settings: initial;
    font-variation-settings: initial;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.native-style select {
    font-style: initial;
    font-variant-ligatures: initial;
    font-variant-caps: initial;
    font-variant-numeric: initial;
    font-variant-east-asian: initial;
    font-variant-alternates: initial;
    font-variant-position: initial;
    font-weight: initial;
    font-stretch: initial;
    font-size: initial;
    font-family: initial;
    font-optical-sizing: initial;
    font-size-adjust: initial;
    font-kerning: initial;
    font-feature-settings: initial;
    font-variation-settings: initial;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    -webkit-rtl-ordering: logical;
    background-color: field;
    cursor: default;
    margin: 0em;
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}

.native-style optgroup {
    font-weight: bolder;
    display: block;
}

.native-style option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}

.native-style textarea {
    font-style: initial;
    font-variant-ligatures: initial;
    font-variant-caps: initial;
    font-variant-numeric: initial;
    font-variant-east-asian: initial;
    font-variant-alternates: initial;
    font-variant-position: initial;
    font-weight: initial;
    font-stretch: initial;
    font-size: initial;
    font-family: monospace;
    font-optical-sizing: initial;
    font-size-adjust: initial;
    font-kerning: initial;
    font-feature-settings: initial;
    font-variation-settings: initial;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: -internal-textarea-auto;
    cursor: text;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    white-space: pre-wrap;
}

.native-style button {
    appearance: auto;
    font-style: initial;
    font-variant-ligatures: initial;
    font-variant-caps: initial;
    font-variant-numeric: initial;
    font-variant-east-asian: initial;
    font-variant-alternates: initial;
    font-variant-position: initial;
    font-weight: initial;
    font-stretch: initial;
    font-size: initial;
    font-family: initial;
    font-optical-sizing: initial;
    font-size-adjust: initial;
    font-kerning: initial;
    font-feature-settings: initial;
    font-variation-settings: initial;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.native-style hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.native-style ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.native-style ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.native-style li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;

    list-style: inherit;
}

.native-style li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.native-style ul ul {
    list-style-type: circle;
}

.native-style ul ul ul {
    list-style-type: square;
}

.native-style div {
    display: block;
    unicode-bidi: isolate;
}

.native-style pre {
    display: block;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: pre;
    margin: 1em 0px;
}

.native-style table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

.native-style thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.native-style th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}

.native-style tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.native-style tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.native-style td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.native-style blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}